// importing all the partial files

//css code for all the movie lists

@use '../partial/importers' as * ;

.region-content{
    padding: 0;

    #block-movie-theme-content{

        .views-element-container{

            .view-id-movies{


                .view-content{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-evenly;
                    position: relative;
                    padding-top: 50px; 

                    .design{
                        position: relative;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: flex-end;
                        margin: 12px 0px;

                        &::before{
                            position: absolute;
                            content: "";
                            background-color: #000;
                            opacity: 0.4;
                            top: 0;
                            height: 100%;
                            width: 100%;
                            z-index: 2;
                        }
            

                        .views-field-title{
                            padding: 25px 0px;
                            font-size: $font-size-20;
                            position: relative;
                            z-index: 5;
                            font-weight: 500;
                        }
                      

                        .views-field-field-movie-banner{
                            position: absolute;
                            top: 0;
                            z-index: -1;
                        }

                        .views-field-field-release-date{
                            visibility: hidden;
                            padding: 25px;
                            padding-left: 0;
                            padding-right: 0;
                            padding-bottom: 170px;
                            font-size: $font-size-30;
                            position: relative;
                            z-index: 5;
                            font-weight: 900;
                        }
                    }

                    .design-1 , .design-2 , .design-3 {
                        width: 31.5%;
                        min-height: 250px;

                      &:hover{

                        &::before{
                            position: absolute;
                            content: "";
                            background-color: $primary-color;
                            top: 0;
                            height: 100%;
                            width: 100%;
                            z-index: 4;
                            opacity: 0.7;
                           
                        }

                        &::after{
                            position: absolute;
                            content: "";
                            background-color: $text-color;
                            top: 90px;
                            right: 110px;
                            height: 2px;
                            width: 50px;
                            z-index: 4;
                        }

                        .views-field-title{
                          position: relative;
                          z-index: 5;
                        }

                        .views-field-field-release-date{
                            visibility: visible;
                          
                            position: relative;
                            z-index: 5;
                        }

                      }

                        .views-field-field-movie-banner{
                          
                            .field-content{

                                img{
                                    height: 250px;
                                }
                            }
                        }
                    } 

                    .design-4 , .design-5{
                        width: 48%;
                        min-height: 250px;

                        &::before{
                           height: 98.45%;
                        }
            

                        &:hover{

                            &::before{
                                position: absolute;
                                content: "";
                                background-color: $primary-color;
                                top: 0;
                                height: 99%;
                                width: 100%;
                                z-index: 4;
                                opacity: 0.7;
                            }

                            &::after{
                                position: absolute;
                                content: "";
                                background-color: $text-color;
                                top: 95px;
                                right: 170px;
                                height: 2px;
                                width: 50px;
                                z-index: 4;
                            }
    
                            
                        .views-field-field-release-date{
                            visibility: visible;
                            position: relative;
                            z-index: 5;
                            font-size: $font-size-40;
                        }

                        .views-field-title{
                            position: relative;
                            z-index: 5;
                          }

    
                          }

                           .views-field-field-release-date{
                            font-size: $font-size-40;
                          }
    
                     
                        .views-field-field-movie-banner{
                          
                            .field-content{

                                img{
                                    height: 250px;
                                }
                            }
                        }
                    }

                    .design-6, .design-7, .design-8, .design-9{
                        width: 23.5%;
                        min-height: 250px;

                        &:hover{
                            
                            &::before{
                                position: absolute;
                                content: "";
                                background-color: $primary-color;
                                top: 0;
                                height: 100%;
                                width: 100%;
                                z-index: 4;
                                opacity: 0.7;
                            }

                            &::after{
                                position: absolute;
                                content: "";
                                background-color: $text-color;
                                top: 85px;
                                right: 90px;
                                height: 2px;
                                width: 50px;
                                z-index: 4;
                            }
    
                            
                        .views-field-field-release-date{
                            visibility: visible;
                            position: relative;
                            z-index: 5;
                          
                        }

                        .views-field-title{
                            position: relative;
                            z-index: 5;
                          } 

                          }
                       
                        .views-field-field-movie-banner{
                          
                            .field-content{

                                img{
                                    height: 250px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}