@font-face {
  font-family: "Montserrat";
  src: url("../../Montserrat/static/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../Montserrat/static/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../Montserrat/static/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../Montserrat/static/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../Montserrat/static/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../Montserrat/static/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../Montserrat/static/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../Montserrat/static/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../Montserrat/static/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
}
.region-content {
  padding: 0;
}
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  padding: 50px 0px;
}
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  margin: 12px 0px;
}
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design::before {
  position: absolute;
  content: "";
  background-color: #000;
  opacity: 0.3;
  top: 0;
  height: 98%;
  width: 100%;
  z-index: 2;
}
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design .views-field-title {
  padding: 25px 0px;
  font-size: 1.875rem;
  position: relative;
  z-index: 5;
  font-weight: 500;
}
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design .views-field-field-movie-banner {
  position: absolute;
  top: 0;
  z-index: -1;
}
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design .views-field-field-release-date {
  visibility: hidden;
  padding: 25px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 170px;
  font-size: 2.5rem;
  position: relative;
  z-index: 5;
  font-weight: 900;
}
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design .views-field-nothing {
  display: none;
}
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-1,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-2,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-3 {
  width: 31.5%;
  min-height: 250px;
}
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-1:hover::before,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-2:hover::before,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-3:hover::before {
  position: absolute;
  content: "";
  background-color: #e50913;
  top: 0;
  height: 98%;
  width: 100%;
  z-index: 4;
  opacity: 0.7;
}
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-1:hover::after,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-2:hover::after,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-3:hover::after {
  position: absolute;
  content: "";
  background-color: #fff;
  top: 90px;
  right: 110px;
  height: 2px;
  width: 50px;
  z-index: 4;
}
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-1:hover .views-field-title,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-2:hover .views-field-title,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-3:hover .views-field-title {
  position: relative;
  z-index: 5;
}
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-1:hover .views-field-field-release-date,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-2:hover .views-field-field-release-date,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-3:hover .views-field-field-release-date {
  visibility: visible;
  position: relative;
  z-index: 5;
}
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-1 .views-field-field-movie-banner .field-content img,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-2 .views-field-field-movie-banner .field-content img,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-3 .views-field-field-movie-banner .field-content img {
  height: 250px;
}
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-4,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-5 {
  width: 48%;
  min-height: 250px;
}
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-4::before,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-5::before {
  height: 98.45%;
}
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-4:hover::before,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-5:hover::before {
  position: absolute;
  content: "";
  background-color: #e50913;
  top: 0;
  height: 98%;
  width: 100%;
  z-index: 4;
  opacity: 0.7;
}
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-4:hover::after,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-5:hover::after {
  position: absolute;
  content: "";
  background-color: #fff;
  top: 95px;
  right: 170px;
  height: 2px;
  width: 50px;
  z-index: 4;
}
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-4:hover .views-field-field-release-date,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-5:hover .views-field-field-release-date {
  visibility: visible;
  position: relative;
  z-index: 5;
  font-size: 2.5rem;
}
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-4:hover .views-field-title,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-5:hover .views-field-title {
  position: relative;
  z-index: 5;
}
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-4 .views-field-field-release-date,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-5 .views-field-field-release-date {
  font-size: 2.5rem;
}
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-4 .views-field-field-movie-banner .field-content img,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-5 .views-field-field-movie-banner .field-content img {
  height: 250px;
}
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-6,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-7,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-8,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-9 {
  width: 23.5%;
  min-height: 255px;
}
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-6:hover::before,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-7:hover::before,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-8:hover::before,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-9:hover::before {
  position: absolute;
  content: "";
  background-color: #e50913;
  top: 0;
  height: 98%;
  width: 100%;
  z-index: 4;
  opacity: 0.7;
}
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-6:hover::after,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-7:hover::after,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-8:hover::after,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-9:hover::after {
  position: absolute;
  content: "";
  background-color: #fff;
  top: 140px;
  right: 90px;
  height: 2px;
  width: 50px;
  z-index: 4;
}
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-6:hover .views-field-field-release-date,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-7:hover .views-field-field-release-date,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-8:hover .views-field-field-release-date,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-9:hover .views-field-field-release-date {
  visibility: visible;
  position: relative;
  z-index: 5;
}
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-6:hover .views-field-title,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-7:hover .views-field-title,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-8:hover .views-field-title,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-9:hover .views-field-title {
  position: relative;
  z-index: 5;
}
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-6 .views-field-field-movie-banner .field-content img,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-7 .views-field-field-movie-banner .field-content img,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-8 .views-field-field-movie-banner .field-content img,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-9 .views-field-field-movie-banner .field-content img {
  height: 250px;
}
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-6 .views-field-field-release-date,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-7 .views-field-field-release-date,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-8 .views-field-field-release-date,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-9 .views-field-field-release-date {
  padding-bottom: 130px;
  font-size: 2.1875rem;
}
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-6 .views-field-title,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-7 .views-field-title,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-8 .views-field-title,
.region-content #block-movie-theme-content .views-element-container .view-id-movies .view-content .design-9 .views-field-title {
  font-size: 1.5625rem;
}

.dark-bckgrnd::before {
  content: "";
  background-color: #000;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 10;
}

.view-content .design .show {
  display: block !important;
}
.view-content .design .views-field-nothing {
  display: none;
  z-index: 60;
}
.view-content .design .views-field-nothing .field-content .popout-wrapper {
  position: absolute;
  width: 120%;
  min-height: 250px;
  z-index: 60;
  top: 105%;
  left: 105%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.view-content .design .views-field-nothing .field-content .popout-wrapper .popout-close-btn {
  font-size: 30px;
  position: absolute;
  top: -50%;
  right: 0;
  font-size: 40px;
  z-index: 20;
}
.view-content .design .views-field-nothing .field-content .popout-wrapper .popout-close-btn::before {
  content: "\f00d";
  font-family: "Font Awesome 5 free";
  font-weight: 600;
}
.view-content .design .views-field-nothing .field-content .popout-wrapper .popout-row {
  width: 50%;
}
.view-content .design .views-field-nothing .field-content .popout-wrapper .popout-row .popout-image img {
  min-height: 250px;
  max-width: 200%;
}
.view-content .design .views-field-nothing .field-content .popout-wrapper .popout-row .movie-title {
  font-size: 2.1875rem;
  text-transform: uppercase;
  position: relative;
  z-index: 5;
}
.view-content .design .views-field-nothing .field-content .popout-wrapper .popout-row .movie-release-date {
  font-size: 1.5625rem;
  padding: 10px 0px;
  position: relative;
  z-index: 5;
}
.view-content .design .views-field-nothing .field-content .popout-wrapper .popout-row .movie-description {
  position: relative;
  z-index: 5;
}
.view-content .design .views-field-nothing .field-content .popout-wrapper .popout-row2 {
  position: relative;
  box-shadow: -64px -12px 38px 44px rgba(0, 0, 0, 0.6);
  padding: 40px 10px;
}
.view-content .design .views-field-nothing .field-content .popout-wrapper .popout-row2::before {
  background-color: #141414;
  opacity: 0.9;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.view-content .design-2 .popout-wrapper {
  left: 0 !important;
}
.view-content .design-3 .popout-wrapper {
  left: -104% !important;
}
.view-content .design-4 .popout-wrapper {
  top: 0 !important;
  left: 42% !important;
}
.view-content .design-4 .popout-wrapper .popout-row2 {
  padding: 40px 10px !important;
}
.view-content .design-5 .popout-wrapper {
  top: 0 !important;
  left: -60% !important;
}
.view-content .design-5 .popout-wrapper .popout-row2 {
  padding: 40px 10px !important;
}
.view-content .design-6 .popout-wrapper {
  width: 150% !important;
  top: -115% !important;
  left: 141% !important;
}
.view-content .design-7 .popout-wrapper {
  width: 150% !important;
  top: -110% !important;
  left: 35% !important;
}
.view-content .design-8 .popout-wrapper {
  width: 150% !important;
  top: -113% !important;
  left: -69% !important;
}
.view-content .design-9 .popout-wrapper {
  width: 150% !important;
  top: -115% !important;
  left: -174% !important;
}/*# sourceMappingURL=movie.css.map */