@font-face {
  font-family: "Montserrat";
  src: url("../../Montserrat/static/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../Montserrat/static/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../Montserrat/static/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../Montserrat/static/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../Montserrat/static/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../Montserrat/static/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../Montserrat/static/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../Montserrat/static/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../Montserrat/static/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
}
.dark-bckgrnd::before {
  content: "";
  background-color: #000;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 10;
}

.view-content .design .show {
  display: block !important;
}
.view-content .design .views-field-nothing {
  display: none;
  z-index: 60;
}
.view-content .design .views-field-nothing .field-content .popout-wrapper {
  position: absolute;
  width: 120%;
  min-height: 250px;
  z-index: 60;
  top: 105%;
  left: 105%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.view-content .design .views-field-nothing .field-content .popout-wrapper .popout-close-btn {
  font-size: 30px;
  position: absolute;
  top: -50%;
  right: 0;
  font-size: 40px;
  z-index: 20;
}
.view-content .design .views-field-nothing .field-content .popout-wrapper .popout-close-btn::before {
  content: "\f00d";
  font-family: "Font Awesome 5 free";
  font-weight: 600;
}
.view-content .design .views-field-nothing .field-content .popout-wrapper .popout-row {
  width: 50%;
}
.view-content .design .views-field-nothing .field-content .popout-wrapper .popout-row .popout-image img {
  min-height: 250px;
  max-width: 200%;
}
.view-content .design .views-field-nothing .field-content .popout-wrapper .popout-row .movie-title {
  font-size: 2.1875rem;
  text-transform: uppercase;
  position: relative;
  z-index: 5;
}
.view-content .design .views-field-nothing .field-content .popout-wrapper .popout-row .movie-release-date {
  font-size: 1.5625rem;
  padding: 10px 0px;
  position: relative;
  z-index: 5;
}
.view-content .design .views-field-nothing .field-content .popout-wrapper .popout-row .movie-description {
  position: relative;
  z-index: 5;
}
.view-content .design .views-field-nothing .field-content .popout-wrapper .popout-row2 {
  position: relative;
  box-shadow: -64px -12px 38px 44px rgba(0, 0, 0, 0.6);
  padding: 40px 10px;
}
.view-content .design .views-field-nothing .field-content .popout-wrapper .popout-row2::before {
  background-color: #141414;
  opacity: 0.9;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.view-content .design-2 .popout-wrapper {
  left: 0 !important;
}
.view-content .design-3 .popout-wrapper {
  left: -104% !important;
}
.view-content .design-4 .popout-wrapper {
  top: 0 !important;
  left: 42% !important;
}
.view-content .design-4 .popout-wrapper .popout-row2 {
  padding: 40px 10px !important;
}
.view-content .design-5 .popout-wrapper {
  top: 0 !important;
  left: -60% !important;
}
.view-content .design-5 .popout-wrapper .popout-row2 {
  padding: 40px 10px !important;
}
.view-content .design-6 .popout-wrapper {
  width: 150% !important;
  top: -115% !important;
  left: 141% !important;
}
.view-content .design-7 .popout-wrapper {
  width: 150% !important;
  top: -110% !important;
  left: 35% !important;
}
.view-content .design-8 .popout-wrapper {
  width: 150% !important;
  top: -113% !important;
  left: -69% !important;
}
.view-content .design-9 .popout-wrapper {
  width: 150% !important;
  top: -115% !important;
  left: -174% !important;
}/*# sourceMappingURL=popout.css.map */